/*-----Media Queries-----*/

.display-mobile {
  display: none;
}

.display-desktop {
  display: block;
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1240px) {
  .content-container {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1239px) {}

@media (max-width: 992px) {
  .cp-fo .sidebar, .cp-fo .bootstrap-navbar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 80px;
    right: auto;
    left: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .nav-open .sidebar, .nav-open .bootstrap-navbar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .nav-open .main-panel {
    left: 0;
    -webkit-transform: translate3d(80px, 0, 0);
    -moz-transform: translate3d(80px, 0, 0);
    -o-transform: translate3d(80px, 0, 0);
    -ms-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .royalties-content-aside {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .display-mobile {
    display: block;
  }

  .display-desktop {
    display: none;
  }

  .modal {
    border: 0;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .cp-fo {
    .wrapper {
      .page-wrap {
        margin-left: 0;

        .main-panel-wrap {
          .main-panel {
            padding-bottom: 60px;
          }
        }
      }

      .sidebar, .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 80px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
      }

      .sidebar-mobile {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      .nav-open .sidebar, .nav-open .bootstrap-navbar {
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
      }
    }
  }

  .bottom-signup-container {
    display: block;
    z-index: 9;

    &.homepage-bottom-signup {
      display: none;
    }
  }

  #signUpModal .sign-up-form .social-connect .social-buttons a {
    margin-bottom: 7px;
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .language-delete {
    margin-bottom: 30px;
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .clients-selection-list {
    padding-bottom: 0;
  }

  #signUpConfirmationModal .send-mail-confirm {
    height: 45vh;
  }

  #signUpConfirmationModal .fixed-actions .forget-password-actions button.btn-confirm {
    margin-bottom: 10px;
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .profile-picture-container .profile-picture-block ul.dropdown-menu {
    bottom: -92px;
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .profile-picture-container .profile-picture-block ul.dropdown-menu li.resize {
    display: none;
  }

  .modal-content .tab-links .tab-content .tab-pane {
    height: calc(100vh - 32px);
    position: relative;
  }

  .modal-content .tab-links .tab-content .tab-pane .tab-panel-content-scroll {
    height: calc(100vh - 230px);
    overflow-y: scroll;
    padding-right: 15px;
  }

  .fo-royalties {
    .content-container {
      [class*='-content-main'] {
        .royalty-info-header {
          display: block;

          .royalty-info {
            .royalty-contents {
              padding-bottom: 20px;
              margin-bottom: 20px;
              border-bottom: 2px solid $divider;
            }
          }

          .payment-actions {
            padding-bottom: 15px;
          }
        }

        .my-accounts {
          .section-actions {
            position: relative;

            .edit {
              position: absolute;
              top: -5px;
              right: -5px;
            }
          }

          .my-accounts-list {}
        }
      }

      [class*='-content-aside'] {}
    }
  }
}

#tunnelRoyalty .modal-dialog .modal-content .modal-body .tunnel-container {
  display: block;
}

@media (max-width: 540px) {
  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .language-delete {
    padding: 0;
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .interest-list-container .interest-list ul li {
    min-width: calc(100% - 15px);
  }

  #firstLoginModal .first-login-content .tab-links .tab-content .tab-pane .clients-selection-list .clients-selection-row .client-select {
    width: 16.333%;
  }

  /* Captcha Responsive */
  .g-recaptcha {
    -webkit-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -ms-transform: scale(0.83);
    -o-transform: scale(0.83);
    transform: scale(0.83);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  /* Captcha Responsive */
}

/* Modal vertcically center */

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
  }
}

/* Modal vertcically center */
