/* Main panel styles */

.cp-fo {
    .content-container {
        @include clearfix;

        width: 95.699515347334410339256865912763%;
        padding: 25px 0;
    }
}

.content-container {
    .fo-offers-list {
        width: 100%;

        .page-heading {
            font-weight: 700;
            margin-bottom: 20px;

            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        .offers-container {
            .cards-view {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                a {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;

                    &.selected {
                        color: $selected;
                    }
                }

                @media (max-width: 767px) {
                    position: absolute;
                    right: 0;
                    top: -40px;
                    transition: all 0.3s ease;
                }
            }

            .offers-content {
                .tab-step {
                    padding: 0 15px;
                    .tab-step-content{
                        ul.nav{
                            &:before{
                                bottom: 1px;
                            }
                            margin-bottom: 15px;
                            li{
                                margin-bottom: 10px;
                                /* @media (max-width: 767px){
                                    width: 100%;
                                    &.active{
                                        &:before{
                                            content: none;
                                        }
                                    }
                                } */
                            }
                        }
                    }
                }

                .offers-list-container {
                    margin-top: 20px;

                    @media (max-width: 767px) {
                        margin-top: 0;
                    }

                    .offers-list-header {
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: $main;

                        h4 {
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            align-items: center;

                            i {
                                color: $helper;
                                margin-right: 5px;
                            }
                        }

                        a {
                            &.show-more-offers {
                                color: $main;
                                text-decoration: underline;
                                font-weight: 600;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }

                        & + div {
                            margin-bottom: 20px;
                        }
                    }

                    .offers-list, .clients-list {
                        @extend %offers-list;

                        li {
                            &.list-item {
                                width: calc(100% / 3);
                                display: -webkit-inline-flex;
                                display: -moz-inline-flex;
                                display: -ms-inline-flex;
                                display: -o-inline-flex;
                                display: inline-flex;

                                @media (max-width: 991px) {
                                    width: calc(100% / 2);
                                }

                                @media (max-width: 767px) {
                                    width: calc(100% / 1);
                                }

                                > a {
                                    flex: 1;
                                }

                                .offer-banner {
                                    // background: url('../img/fo-bg.jpg') no-repeat center center;
                                    // background-size: cover;
                                    border-radius: 4px 4px 0 0;
                                }

                                .client-infos {
                                    display: -webkit-flex;
                                    display: -moz-flex;
                                    display: -ms-flex;
                                    display: -o-flex;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-flow: column;

                                    .client-logo {
                                        @extend %user-image;

                                        width: 60px;
                                        height: 60px;
                                    }

                                    .client-name {
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: $main;
                                    }

                                    .btn {
                                        margin: 15px 0;
                                    }

                                    .more-offers-link {
                                        color: $selected;
                                        text-decoration: underline;
                                        font-weight: 600;

                                        &:hover {
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:last-child{
                            padding-bottom: 60px;
                        }
                    }

                    .clients-list {
                        li.list-item {
                            width: calc(100% / 4);

                            @media (max-width: 991px) {
                                width: calc(100% / 3);
                            }

                            @media (max-width: 767px) {
                                width: calc(100% / 1);
                            }
                        }
                    }
                }
            }
        }

        &.more-offers-list, &.assign-card {
            .page-header-nav-container {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;

                .page-navigation {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    margin-right: 10px;
                }

                .page-heading {
                    margin: 0;
                }
            }

            .offers-container {
                .offers-list-container {
                    margin-top: 0;
                }
            }
        }
    }
}

/* Main panel page styles ends */
