// Job single offer styles(BO) - Offers single (FO)

.cp-fo {
    .wrapper {
        .page-wrap {
            .main-panel-wrap {
                .main-panel {
                    @media (max-width: 767px) {
                        padding-bottom: 70px;

                        .content-container {
                            padding: 0;

                            .offers-single {
                                [class*='-content-main'] {
                                    padding: 0;

                                    > .card {
                                        box-shadow: none;
                                        border-radius: 0;
                                    }

                                    .more-offers {
                                        padding: 0 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-container {
    @include clearfix;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 1160px;
    padding: 25px 0;
    margin: 0 auto;

    .offers-single {
        width: 100%;
<<<<<<< HEAD
=======
        height: 240px;

        /* background: url('../img/fo-bg.jpg') no-repeat center center;
        background-size: cover; */
        padding: 0px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        position: relative;

        .offer-banner-overlay {
          width: 100%;
          height: 100%;
          position: absolute;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,ffffff+100&1+0,0+100 */
          background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(68, 68, 68, 1) 85%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(68, 68, 68, 1) 85%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(68, 68, 68, 1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        input[type='file'] {
          display: none;
        }

        .custom-file-upload {
          display: -webkit-inline-flex;
          display: -moz-inline-flex;
          display: -ms-inline-flex;
          display: -o-inline-flex;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 6px 10px;
          margin: 0;
          cursor: pointer;
          position: absolute;
          right: 15px;
          color: #fff;
          font-size: 14px;
          font-weight: normal;

          span {
            text-decoration: underline;
          }

          i {
            font-size: 16px;
            margin-left: 5px;
          }

          &:hover {
            span {
              text-decoration: none;
            }
          }
        }

        a {
          color: #fff;

          &.change-banner {
            input[type='file'] {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              opacity: 0;

              &:hover {
                cursor: pointer;
              }
            }

            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flex;
            display: -o-inline-flex;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            position: absolute;
            right: 25px;

            span {
              text-decoration: underline;
            }

            i {
              margin-left: 10px;
              font-size: 14px;
            }

            &:hover {
              cursor: pointer;

              span {
                text-decoration: none;
              }
>>>>>>> d9de2b78a0052dedaa15f9677e44852578b10054

        [class*='-content-main'] {
            @include clearfix;

            .offer-banner {
                width: 100%;
                height: 240px;

                /* background: url('../img/fo-bg.jpg') no-repeat center center;
                background-size: cover; */
                padding: 0px;
                border-radius: 4px 4px 0 0;
                overflow: hidden;
                position: relative;

                .offer-banner-overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,ffffff+100&1+0,0+100 */
                    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

<<<<<<< HEAD
                input[type='file'] {
                    display: none;
                }

                .custom-file-upload {
                    display: -webkit-inline-flex;
                    display: -moz-inline-flex;
                    display: -ms-inline-flex;
                    display: -o-inline-flex;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 6px 10px;
                    margin: 0;
                    cursor: pointer;
                    position: absolute;
                    right: 15px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: normal;

                    span {
                        text-decoration: underline;
                    }
=======
          &.offer-title {
            .btn-yes {
              border-radius: 0 4px 4px 0;
            }
          }
        }
>>>>>>> d9de2b78a0052dedaa15f9677e44852578b10054

                    i {
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    &:hover {
                        span {
                            text-decoration: none;
                        }
                    }
                }

                a {
                    color: #fff;

                    &.change-banner {
                        input[type='file'] {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            opacity: 0;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        display: -webkit-inline-flex;
                        display: -moz-inline-flex;
                        display: -ms-inline-flex;
                        display: -o-inline-flex;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        position: absolute;
                        right: 25px;

                        span {
                            text-decoration: underline;
                        }

                        i {
                            margin-left: 10px;
                            font-size: 14px;
                        }

                        &:hover {
                            cursor: pointer;

                            span {
                                text-decoration: none;
                            }

                            input {
                                cursor: pointer;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    &.back {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        text-shadow: 2px 2px 4px $main;

                        span {
                            text-decoration: underline;
                        }

                        &:hover {
                            span {
                                text-decoration: none;
                            }
                        }
                    }
                }

                h3 {
                    margin: 0;
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    color: #fff;
                    transition: all .3s ease;
                    width: calc(100% - 40px);
                    &.offer-title {
                        text-shadow: 2px 2px 4px $main;

                        .btn-yes {
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }
                p {
                  font-size: 14px;

                  img {
                    padding-left: 0;
                    max-width: 100%;
                  }
                }

                img {
                  padding-left: 15px;
                  max-width: 100%;
                }

                @media (max-width: 767px) {
                    // padding: 0px;
                    height: 180px;

                    a {
                        &.back {
                            top: 15px;
                            left: 15px;
                        }
                    }

                    h3 {
                        bottom: 15px;
                        left: 15px;
                        font-size: 20px;
                    }
                }
            }

            .offer-content {
                padding: 30px;
                position: relative;
                word-break: break-all;
                color: $main;

                @media (max-width: 767px) {
                    padding: 15px;
                }

                span.edit {
                    position: absolute;
                    right: 30px;
                    top: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                label {
                    font-weight: 600;
                }

                [class$='-edit'] {
                    display: none;
                }

                h1, h2, h3, h4, h5, h6 {
                    & ~ p {
                        padding-left: 15px;
                        margin-top: 15px;
                    }

                    & ~ ul {
                        padding-left: 15px;
                        margin-left: 15px;
                    }
                }

                h4, p {
                    color: $main;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    color: $selected;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .offer-closed {
                    padding: 0;

                    .bidding-price {
                        font-size: 16px;
                        font-weight: 700;
                        text-align: center;
                    }

                    .bidding-actions {
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: column;
                    }
                }

                .no-data-placeholder {
                    h4, p {
                        color: $helper;

                        & ~ p {
                            padding: 0;
                        }
                    }
                }

                .social-sharing {}
            }

            .more-offers {
                padding: 0;

                @media (max-width: 767px) {
                    margin-top: 15px;

                    h2 {
                        font-size: 18px;
                    }
                }

                h2 {
                    margin-bottom: 5px;
                }

                .more-offerslist {
                    @extend %offers-list;
                }
            }
        }

        [class*='-content-aside'] {
            @include clearfix;

            padding-right: 0;

            .sticky-section {
                @include clearfix;

                position: fixed;
                width: 29.33%;
                height: 100vh;
                padding-bottom: 60px;
            }

            .section-title {
                color: $main;
                font-weight: 600;
                padding: 0;
                margin: 0;
            }

            label {
                font-weight: 600;
            }

            .card {
                margin-bottom: 10px;
                padding: 20px;

                &:last-child {
                    margin: 0;
                }
            }

            @media (max-width: 991px) {
                margin-top: 25px;
                padding-right: 15px;
                width: 100%;

                .sticky-section {
                    position: unset;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 0;
                }
            }
        }

        .client-details-container {
            @media (max-width: 767px) {
                padding: 0 15px;
            }

            .client-details {
                // @extend %client-details;

                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;

                // padding: 0;
                margin: 0;

                .client-image {
                    padding: 0;
                    width: 62px;
                }

                .client-spec {
                    margin: 0;
                }
            }

            p {
                font-size: 14px;
            }

            .more-offers-link {
                font-size: 14px;
                text-decoration: underline;
                color: $selected;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        [class*='-info'] {
            @media (max-width: 767px) {
                > div {
                    .offer-bidding {
                        padding: 15px;
                    }
                }
            }

            .language-to {
                @extend %language-breadcrum;

                li {
                    a {
                        &:after {
                            border-left-color: #fff !important;
                        }
                    }
                }
            }

            .offer-bidding {
                padding: 10px 20px 0px;
                color: $main;

                .bidding-price {
                    font-size: 20px;
                    font-weight: 700;
                    color: $main;
                    text-align: center;
                    padding: 10px;

                    .bidding-pre-text {
                        font-size: 12px;
                        font-weight: 600;
                        color: $helper;
                        text-transform: uppercase;
                    }

                    .fa-database {
                        display: -webkit-inline-flex;
                        display: -moz-inline-flex;
                        display: -ms-inline-flex;
                        display: -o-inline-flex;
                        display: inline-flex;
                        margin-right: 10px;
                        position: relative;

                        .fa-database {
                            position: absolute;
                            left: 0.5em;
                            width: 0.8em;

                            /* height: 0.8em; */
                            top: 0.4em;
                            font-size: 0.8em;
                            background: white;
                        }
                    }

                    span {
                        font-weight: normal;
                    }
                }

                .bidding-contributors {
                    margin: 20px 0;

                    .applied-contributors {
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        justify-content: center;
                        flex-flow: row wrap;

                        .user-image {
                            margin: 0 10px 15px 0px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .bidding-actions {
                    .signin-link {
                        display: block;
                        text-decoration: underline;
                        font-size: 14px;
                        text-align: center;
                        margin-top: 15px;
                        color: $helper;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .timer {
                        text-align: center;
                        font-weight: 600;
                        background: $highlight-01;
                        display: block;
                        padding: 15px;
                        font-size: 16px;
                        border-radius: 4px;
                        border: 1px solid $border-color;

                        &.application-phase {
                            span {
                                font-size: 14px;
                                color: $not-started;
                            }
                        }

                        &.selection-phase {
                            font-weight: normal;
                            padding: 15px;
                            font-size: 14px;

                            > div {
                                font-weight: 700;
                                font-size: 16px;
                                padding: 15px;

                                &.no-criteria {
                                    i {
                                        color: $not-started;
                                    }
                                }

                                &.selected-profile {
                                    i {
                                        color: $selected;
                                    }

                                    color: $selected;
                                }

                                i {
                                    font-size: 36px;
                                    width: 36px;
                                }
                            }

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }

            /* [class$='-actions']{
              margin-bottom: 25px;
            } */
            [class*='-actions-more'] {
                .section-title {
                    color: $main;
                    font-weight: 600;
                    padding: 0;
                    margin: 0 0 10px 0;
                }

                [class*='-actions-list'] {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        @include clearfix;

                        .card {
                            padding: 7px 15px;
                            margin-bottom: 10px;
                            color: $main;

                            .edit {
                                position: absolute;
                                right: 15px;
                            }
                        }

                        &:last-child {
                            .card {
                                margin: 0;
                            }
                        }
                    }

                    .help {
                        position: absolute;
                        right: 15px;

                        i {
                            font-size: 22px;
                        }
                    }
                }
            }

            .eligibility-filters {
                @include clearfix;

                padding: 10px;
                border-radius: 4px;
                background: $highlight-01;

                .select-with-label {
                    @extend %select-with-label;
                }

                .more-filters {
                    display: none;
                }

                .toggle-more-filters {
                    transition: all .3s ease;

                    &.open {
                        i {
                            transform: rotateX(0);
                        }
                    }

                    i {
                        transform: rotateX(-180deg);
                        margin-right: 5px;
                    }

                    span {
                        text-decoration: underline;
                    }

                    &:hover {
                        cursor: pointer;

                        span {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

/* Modal styles */
.edit-description-modal {
    @extend %modal;
}

#tunnelOffersSingle {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .tunnel-container {
                    .tunnel-left-column {
                        .timer {
                            width: calc(100% - 30px);
                            position: absolute;
                            bottom: 15px;
                            background: $highlight-02;
                            padding: 15px;
                            border-radius: 4px;
                            font-size: 16px;
                            font-weight: 600;
                            color: $main;
                            text-align: center;
                        }
                    }

                    .tunnel-right-column {
                        #tunnelWizard {
                            .tab-links {
                                .tab-pane {
                                    .tunnel-steps-content-container {
                                        height: calc(100vh - 270px);
                                        padding-bottom: 70px;

                                        @media (max-width: 767px) {
                                            padding-bottom: 20px;
                                        }

                                        .tunnel-steps-contents {
                                            overflow: hidden;
                                            overflow-y: auto;
                                            height: 100%;

                                            .bidding-price-range {
                                                text-align: center;
                                            }

                                            .bidding-price-amount {
                                                padding: 0;

                                                .has-feedback {
                                                    margin-bottom: 10px;

                                                    .input-group {
                                                        input {
                                                            padding-right: 0px;
                                                        }

                                                        &.input-group-focus {
                                                            input, .input-group-addon {
                                                                border-color: #ccc;
                                                            }
                                                        }

                                                        input.error ~ .input-group-addon {
                                                            border-color: #fb404b;
                                                        }
                                                    }

                                                    label {
                                                        position: absolute;
                                                        top: 40px;
                                                        left: 5px;
                                                        margin: 0;
                                                        width: 100%;
                                                    }
                                                }
                                            }

                                            .bidding-price-slider {
                                                padding: 0 12px 5px;

                                                .ui-slider {
                                                    @extend %ui-slider;

                                                    margin: 10px 0 0;
                                                    background: $selected;
                                                }
                                            }

                                            .bidding-price-tooltip {
                                                color: $helper;
                                                border-radius: 4px;
                                                padding: 10px;

                                                // display: block;
                                                display: -webkit-flex;
                                                display: -moz-flex;
                                                display: -ms-flex;
                                                display: -o-flex;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                z-index: 9000;
                                                position: absolute;
                                                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);

                                                span {
                                                    display: block;
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                    color: $main;
                                                }

                                                &:before, &:after {
                                                    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
                                                    border-left: 11px solid transparent;
                                                    border-right: 11px solid transparent;
                                                    content: '';
                                                    display: inline-block;
                                                    position: absolute;
                                                    left: calc(50% - 10px);
                                                    top: -11px;
                                                }

                                                &:after {
                                                    border-bottom: 11px solid #FFFFFF;
                                                    top: -10px;
                                                }
                                            }

                                            .working-days-container {
                                                .working-days {
                                                    margin: 0;
                                                    padding: 0;
                                                    list-style-type: none;
                                                    display: -webkit-flex;
                                                    display: -moz-flex;
                                                    display: -ms-flex;
                                                    display: -o-flex;
                                                    display: flex;
                                                    justify-content: space-between;

                                                    @media (max-width: 767px) {
                                                        justify-content: unset;
                                                        flex-flow: row wrap;

                                                        li {
                                                            width: 20%;
                                                            margin-bottom: 5px;
                                                        }
                                                    }

                                                    li {
                                                        display: -webkit-inline-flex;
                                                        display: -moz-inline-flex;
                                                        display: -ms-inline-flex;
                                                        display: -o-inline-flex;
                                                        display: inline-flex;

                                                        label {
                                                            display: -webkit-flex;
                                                            display: -moz-flex;
                                                            display: -ms-flex;
                                                            display: -o-flex;
                                                            display: flex;
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }

                                            .bidding-price {
                                                font-size: 20px;
                                                font-weight: 700;
                                                color: $main;
                                                text-align: center;
                                                padding: 10px;
                                                display: -webkit-flex;
                                                display: -moz-flex;
                                                display: -ms-flex;
                                                display: -o-flex;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;

                                                .bidding-pre-text {
                                                    font-size: 12px;
                                                    font-weight: 600;
                                                    color: $helper;
                                                    text-transform: uppercase;
                                                }

                                                > i {
                                                    margin-right: 10px;

                                                    &.fa-database {
                                                        display: -webkit-inline-flex;
                                                        display: -moz-inline-flex;
                                                        display: -ms-inline-flex;
                                                        display: -o-inline-flex;
                                                        display: inline-flex;
                                                        margin-right: 10px;
                                                        position: relative;

                                                        .fa-database {
                                                            position: absolute;
                                                            left: 0.5em;
                                                            width: 0.8em;
                                                            top: 0.4em;
                                                            font-size: 0.8em;
                                                            background: white;
                                                        }
                                                    }
                                                }

                                                span {
                                                    font-weight: normal;
                                                }
                                            }

                                            .application-summary {
                                                .summary-item {
                                                    margin-bottom: 15px;
                                                    padding: 0 0 15px;
                                                    border-bottom: 2px solid $divider;

                                                    &:last-child {
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                    }
                                                }

                                                .contract-owner-box {
                                                    height: auto;
                                                    margin: 0;

                                                    .contract-owner {
                                                        height: auto;

                                                        .user-name-block {
                                                            height: auto;
                                                            flex-flow: column;
                                                            justify-content: center;
                                                            align-items: left;

                                                            .user-name {
                                                                font-size: 16px;
                                                                font-weight: 600;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &#step-1 {
                                        .tunnel-steps-content-container {
                                            overflow: hidden;
                                            overflow-y: auto;
                                            position: relative;
                                            height: calc(100vh - 270px);

                                            @media (max-width: 767px) {
                                                height: calc(100vh - 210px);
                                            }

                                            .contract-owner-box {
                                                margin: 0;
                                            }
                                        }

                                        .modal-actions-fixed-bottom {
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            margin-top: 10px;
                                        }
                                    }

                                    &#step-2 {
                                        .tunnel-steps-content-container {
                                            height: calc(100vh - 290px);

                                            @media (max-width: 767px) {
                                                height: calc(100vh - 230px);
                                            }
                                        }
                                    }

                                    &#step-3 {
                                        .tunnel-steps-content-container {
                                            overflow: visible;

                                            @media (max-width: 767px) {
                                                overflow: auto;
                                                overflow-x: hidden;
                                            }

                                            .form-control {
                                                margin-bottom: 10px;

                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }

                                    &#confirmation {
                                        .tunnel-steps-content-container {
                                            height: calc(100vh - 217px);

                                            @media (max-width: 767px) {
                                                height: calc(100vh - 130px);
                                            }
                                        }

                                        .bidding-price {
                                            padding: 0;
                                            justify-content: flex-start;
                                        }
                                    }

                                    &#applicationSubmision {
                                        @media (max-width: 767px) {
                                            height: calc(100vh - 32px);
                                        }

                                        .tunnel-steps-content-container {
                                            overflow-y: auto;
                                            padding-bottom: 35px;
                                            height: calc(100vh - 247px);

                                            @media (max-width: 767px) {
                                                height: calc(100vh - 160px);
                                            }
                                        }

                                        .timer {
                                            padding: 10px;
                                            background: $highlight-02;
                                            border-radius: 4px;
                                            text-align: center;
                                            color: $main;
                                            font-size: 16px;
                                            font-weight: 600;
                                            display: block;

                                            span {
                                                font-size: 14px;
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#offersWithdraw {
    @extend %modal;

    .tab-pane {
        padding-bottom: 60px;

        @media (max-width: 767px) {
            height: calc(100vh - 32px);
        }
    }
}

/* Modal styles ends*/
