/* Main panel styles */

%payment-activities {
  [class*='-list'] {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      @include clearfix;

      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 2px solid $divider;

      [class*='-content'] {
        color: $main;

        span {
          &[class*='-title'] {
            text-transform: uppercase;
            font-weight: 600;
            color: $helper;
            font-size: 12px;
          }
        }
      }

      @media (max-width: 767px) {
        .col-sm-6 {
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
      }

      .show-more-activities {
        color: $selected;
        text-decoration: underline;
      }

      .payment-order-number {
        font-size: 14px;
        font-weight: 600;
        color: $main;
        margin: 12px 0 5px;
      }

      .submit-claim {
        a {
          color: $delete;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .request-time {
        font-size: 12px;
        color: $helper;
        font-weight: 400;
      }

      .payment-time {
        font-size: 14px;
        color: $helper;
        font-weight: 600;
      }

      .payment-actions {
        margin-top: 10px;

        .alert {
          background: #bdbfc3;
          color: #fff;
          text-align: center;
          border-radius: 4px;
        }
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

%my-accounts-royalty {
  .section-actions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;

    .edit {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;

          u {
            text-decoration: none;
          }
        }
      }

      i {
        font-size: 24px;
        margin-left: 5px;
      }
    }
  }

  .my-accounts-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0 15px;
    margin: 0;
    list-style-type: none;
    flex-flow: row wrap;

    > li {
      border: 1px solid $divider;
      padding: 15px;
      margin: 0 16px 16px 0;
      flex-grow: 1;
      width: calc(50% - 16px);
      display: flex;
      flex-flow: row wrap;
      position: relative;

      span.section-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
      }

      @media screen and (max-width: 767px) {
        width: calc(100%);
        margin: 0;
        padding: 15px 0;
        display: flex;
        flex-flow: column wrap;
        border: none;
        border-bottom: 2px solid $divider;

        &:first-child {
          padding-top: 0;
        }
      }

      .account-title {
        width: calc(100% - 60px);
        color: $main;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        align-items: center;

        &.main-account {
          &:before {
            font-family: 'Material Icons';
            content: '\e8d0';
            color: $default-bg;
            display: inline-flex;
            align-items: center;
            margin-right: 5px;
            position: relative;
            top: 3px;
          }
        }

        span {
          font-style: italic;
          color: $not-started;
          font-size: 14px;
          margin-left: 5px;
          font-weight: normal;
          display: inline-block;
          width: 90px;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &.account-details {
          label {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }

      &:nth-child(even) {
        margin-right: 0;
      }

      &:last-child {
        flex-grow: unset;
        width: calc(50% - 8px);

        @media screen and (max-width: 767px) {
          margin: 0;
          width: calc(100%);
          border: none;
          padding: 15px 0 0 0;
        }

        &.more-info {
          align-items: center;
          justify-content: center;
          border: 2px dashed $border-color;
          text-decoration: underline;

          @media screen and (max-width: 767px) {
            flex-grow: unset;
            padding: 0;
            margin-top: 15px;
            color: $selected;
            border: none;
            align-items: unset;
            justify-content: unset;
          }

          &:hover, &:focus {
            border-color: $selected;
            color: $selected;
            cursor: pointer;

            i {
              color: $selected;
            }
          }
        }
      }
    }
  }
}

.cp-fo {
  .content-container {
    @include clearfix;

    width: 1160px;
    padding: 25px 0;
  }
}

.content-container {
  .fo-royalties {
    @include clearfix;

    @media (max-width: 767px) {
      width: 100%;
    }

    .card {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    [class*='-content-main'] {
      .royalty-info-header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        .royalty-info {
          .user-image {
            width: 25%;
            background: transparent;

            .user-image-container {
              @extend %user-image;

              width: 72px;
              height: 72px;

              @media (max-width: 1200px) {
                width: 62px;
                height: 62px;
              }

              @media (max-width: 991px) {
                width: 72px;
                height: 72px;
              }
            }
          }

          .royalty-contents {
            font-size: 12px;

            .royalty-value {
              font-size: 30px;
              color: $selected;
            }
          }
        }

        .payment-actions {
          .alert {
            margin-bottom: 15px;
          }

          button {
            &:last-child {
              margin: 0 !important;
            }
          }
        }

        @media (max-width: 767px) {
          display: block;

          .payment-actions {
            .payment-actions-wrapper {
              margin-top: 20px;
              padding-top: 20px;
              border-top: 2px solid $border-color-02;
            }
          }
        }
      }

      .payment-activities {
        @extend %payment-activities;
      }

      .my-accounts {
        @extend %my-accounts-royalty;

        /*         .my-accounts-list{
                  li{
                    &.selected, &:hover{
                      border-color: $selected;
                    }
                  }
                } */
      }

      .working-status {
        @extend %payment-activities;

        @extend .my-accounts;

        li {
          &:last-child {
            flex-grow: unset;
            width: calc(50% - 8px);

            @media screen and (max-width: 767px) {
              margin: 0;
              width: calc(100%);
              border: none;
            }

            &.more-info {
              padding: 15px;
              text-align: center;
              align-items: center;
              justify-content: center;
              border: 2px dashed $border-color;
              text-decoration: underline;

              @media screen and (max-width: 767px) {
                text-align: left;
                flex-grow: unset;
                padding: 0;
                margin-top: 15px;
                color: $selected;
                border: none;
                align-items: unset;
                justify-content: unset;
              }

              &:hover, &:focus {
                border-color: $selected;
                color: $selected;
                cursor: pointer;

                i {
                  color: $selected;
                }
              }
            }
          }
        }
      }
    }

    [class*='-content-aside'] {
      .payment-activities {
        @extend %payment-activities;
      }
    }
  }
}

/* Main panel page styles ends */

/* Modal styles */
#paymentRoyalty {
  @extend %modal;

  .payment-activities {
    @extend %payment-activities;

    .payment-activities-list {
      max-height: 350px;
      overflow: hidden;
      overflow-y: scroll;

      li {
        width: calc(100% - 10px);
      }
    }
  }
}

#myaccountRoyalty {
  @extend %modal;

  .my-accounts {
    @extend %my-accounts-royalty;

    .my-accounts-list {
      li {
        position: relative;
        padding: 0;

        span.section-actions {
          position: absolute;
          top: 10px;
          right: 10px;
          visibility: hidden;
          opacity: 0;
          transition: all .3s ease;
          z-index: 2;
        }

        .account-details-container {
          width: 100%;
          padding: 15px;
        }

        &.selected, &:hover {
          border-color: $selected;

          span.section-actions {
            visibility: visible;
            opacity: 1;
          }
        }

        &.more-info {
          padding: 15px;
        }

        &:only-child {
          margin: 0;
          padding: 30px;
          width: 100%;
        }
      }
    }
  }
}

#myaccountEditRoyalty {
  @extend %modal;

  .modal-dialog {
    label {
      text-transform: uppercase;
      font-weight: 600;
    }

    .modal-body {
      // height: calc(100vh - 32px);

    }

    .modal-container {
      @media (max-width: 767px) {
        height: calc(100vh - 32px);
      }

      position: relative;

      .content-scroll {
        height: calc(100vh - 230px);

        @media (max-width: 767px) {
          height: calc(100vh - 140px);
        }

        overflow: hidden;
        overflow-y: auto;
        padding: 0 5px 50px 0;
      }

      .modal-actions-fixed-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 9;
      }
    }

    .required {
      color: $delete;
    }

    .my-account-country {
      @media screen and (max-width: 767px) {
        margin-top: 15px;
        float: none !important;
      }
    }

    .account-options {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      color: $main;

      .remove-account {
        text-align: right;

        a {
          text-decoration: underline;
          color: $delete;
        }
      }

      @media screen and (max-width: 767px) {
        display: block;

        .remove-account {
          text-align: left;
          margin-top: 15px;
        }
      }
    }
  }
}

#myaccountAddRoyalty {
  @extend #myaccountEditRoyalty;

  .modal-dialog {
    .flag-dropdown {
      @extend %flag-dropdown;
    }
  }
}

#workingStatusCompanyRoyalty {
  @extend #myaccountAddRoyalty;

  .phone-number {
    .has-feedback {
      &.country-code {
        input.form-control {
          padding: 8px 12px 8px 24px;
        }

        label.add-sign {
          position: absolute;
          top: 8px;
          left: 10px;
          font-size: 16px;
          color: #353F53;
        }
      }
    }
  }
}

#workingStatusSelfemployedRoyalty {
  @extend #workingStatusCompanyRoyalty;

  .modal-dialog {
    .highlight-bg {
      border-radius: 4px;

      p {
        font-size: 14px;
      }
    }

    .alert {
      color: #fff;
    }
  }
}

#tunnelRoyalty, #tunnelOffersSingle {
  @extend #workingStatusSelfemployedRoyalty;

  .modal-dialog {
    span.close {
      top: 10px;
      right: 10px;
      z-index: 12;
    }

    .modal-content {
      padding: 0 !important;

      .modal-body {
        padding: 0 !important;

        .modal-sub-title {
          h4 {
            font-weight: 700;
          }
        }

        .tunnel-container {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          padding: 0;

          .tunnel-left-column {
            background: $highlight-03;
            padding: 15px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }

          .tunnel-right-column {
            padding: 15px;

            @media screen and (max-width: 767px) {
              padding: 15px;
            }

            .my-accounts, .application-summary {
              @extend %my-accounts-royalty;

              .my-accounts-list {
                padding: 0;

                > li {
                  width: 100% !important;
                  margin: 0 0 10px 0 !important;
                  border: 1px solid $divider;

                  a {
                    &.change-account {
                      color: $main;
                      text-decoration: underline;

                      &:hover {
                        text-decoration: none;
                      }
                    }
                  }

                  @media screen and (max-width: 767px) {
                    padding: 15px !important;
                    border: 1px solid $divider !important;
                  }

                  &:last-child {
                    width: 100% !important;
                  }
                }
              }
            }

            #tunnelWizard {
              .tab-links {
                ul.nav {
                  display: none;
                }

                .tab-pane {
                  @include clearfix;

                  padding: 0;

                  // height: calc(100vh - 32px);
                  position: relative;

                  .tunnel-steps-content-container {
                    // min-height: 300px;

                    height: calc(100vh - 230px);
                    overflow: hidden;
                    overflow-y: auto;
                    padding-right: 1px;

                    &.no-scroll {
                      overflow-y: hidden;
                    }

                    .tunnel-steps-contents {
                      @include clearfix;

                      width: calc(100% - 5px);

                      @media (max-width: 767px) {
                        // width: 100%;
                        margin-top: 0;
                      }

                      padding: 1px 1px 0;

                      .payment-amount {
                        color: $main;
                      }
                    }
                  }

                  .tunnel-step-1 {
                    padding: 0;
                    margin: 0 0 15px 0;
                    list-style-type: none;

                    li {
                      border-bottom: 2px $border-color-02 solid;
                      padding: 8px 0;

                      &:last-child {
                        border: none;
                      }

                      & + li {
                        label {
                          text-transform: none;
                          font-size: 14px;
                          font-weight: normal;
                          padding-left: 20px;

                          .icons {
                            position: absolute;
                            top: 2px;
                          }
                        }
                      }
                    }
                  }

                  .transfer-option {
                    color: $main;

                    .card {
                      padding: 10px;
                      margin: 0;
                    }
                  }

                  .payment-container {
                    .total-payment {
                      color: $main;
                    }
                  }

                  .step-actions {
                    margin: 0 -15px;

                    @media screen and (max-width: 767px) {
                      margin: 0 -15px;
                    }

                    .tab-navigation {
                      /* padding: 0 30px; */
                    }
                  }

                  .modal-actions-fixed-bottom {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 60px;
                    width: 100%;
                  }

                  .request-sent {
                    padding: 30px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .request-sent-icon {
                      width: 150px;

                      i {
                        font-size: 180px;
                        color: $selected;
                        width: 100%;
                      }
                    }
                  }

                  &#step-1 {
                    .tunnel-steps-content-container {
                      overflow: unset;
                      position: unset;
                      height: 100%;
                    }

                    .tunnel-step-1 {
                      overflow: hidden;
                      overflow-y: auto;
                      height: 150px;
                      padding-right: 10px;
                    }

                    .modal-actions-fixed-bottom {
                      position: unset;
                      bottom: unset;
                      left: unset;
                      margin-top: 10px;

                      .step-actions {
                        margin: 0 -15px;

                        @media (max-width: 767px) {
                          margin: 0 -15px;
                        }
                      }
                    }
                  }

                  &#confirmation {
                    .tunnel-steps-content-container {
                      @media (max-width: 767px) {
                        height: calc(100vh - 170px);
                      }
                    }

                    .my-accounts, .application-summary {
                      .payment-confirmation {
                        color: $main;

                        .total-payment-amount {
                          color: $selected;
                          font-size: 32px;
                          font-weight: 700;
                        }

                        .option-express-transfer {
                          color: $helper;
                        }
                      }

                      .my-accounts-list {
                        > li {
                          @media screen and (max-width: 767px) {
                            border: none !important;
                            padding: 0 !important;
                          }
                        }
                      }
                    }
                  }

                  &#requestSent, &#applicationSubmision {
                    @media screen and (max-width: 767px) {
                      height: calc(100vh - 92px);
                    }

                    .tunnel-steps-content-container {
                      overflow: unset;
                      overflow-y: unset;
                      display: -webkit-flex;
                      display: -moz-flex;
                      display: -ms-flex;
                      display: -o-flex;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }

                    .step-actions {
                      padding: 20px 0 0;
                      border-top: 2px solid $divider;

                      @media screen and (max-width: 767px) {
                        border: none;

                        .tab-navigation {
                          .btn-back {
                            margin-bottom: 10px;
                          }
                        }
                      }
                    }

                    .confirmation-tick {
                      @extend %confirmation-tick;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#viewBillRoyalty {
  @extend #workingStatusSelfemployedRoyalty;

  .make-request {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    word-break: keep-all;

    @media (max-width: 767px) {
      justify-content: flex-start;
      padding: 0;
      margin-top: 15px;
    }
  }

  .modal-dialog {
    .modal-content {
      padding: 30px;

      .modal-container {
        .modal-title {
          word-break: break-all;
        }

        .content-scroll {
          height: calc(100vh - 300px);
          padding-bottom: 70px;
        }
      }
    }
  }

  .tunnel-step-1 {
    padding: 0;
    margin: 0 0 15px 0;
    list-style-type: none;

    li {
      border-bottom: 2px $border-color-02 solid;
      padding: 10px 0;

      @media (max-width: 767px) {
        &:nth-child(2) {
          border-top: 2px $border-color-02 solid;
        }
      }

      & + li {
        label {
          text-transform: none;
          font-size: 14px;
          font-weight: normal;
          padding-left: 20px;

          .icons {
            position: absolute;
            top: 2px;
          }
        }
      }
    }
  }

  .transfer-option {
    color: $main;

    .card {
      padding: 10px;
      margin: 0;
    }
  }

  .payment-container {
    .total-payment {
      color: $main;
    }

    .form-group {
      .row {
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }

    @-moz-document url-prefix() {
      .form-group {
        .row {
          &:last-child {
            margin-bottom: 100px;
          }
        }
      }
    }
  }
}

.tunnel-steps-container {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      .tunnel-steps-timeline {
        margin-bottom: 20px;

        .timeline-dot {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 60px;
          position: relative;

          i {
            color: #d7d9dc;
            z-index: 9;
            font-size: 22px;
            height: 22px;
            width: 22px;
            position: relative;
            top: -2px;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: 40px;
            left: 48%;
            height: 63px;
            width: 1px;
            border: 2px solid #d7d9dc;
          }
        }

        &.step-01 {
          .timeline-dot {
            &:before {
              height: 64px;
            }
          }
        }

        @media screen and (max-width: 991px) {
          &.step-01 {
            .timeline-dot {
              &:before {
                height: 112px;
              }
            }
          }
        }

        .timeline-content {
          padding-left: 0;

          .timeline-content-card {
            margin-bottom: 0;
            min-height: 60px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            -webkit-filter: drop-shadow(0 1px 2px rgba(63, 63, 68, 0.3));
            -moz-filter: drop-shadow(0 1px 2px rgba(63, 63, 68, 0.3));
            -ms-filter: drop-shadow(0 1px 2px rgba(63, 63, 68, 0.3));
            -o-filter: drop-shadow(0 1px 2px rgba(63, 63, 68, 0.3));
            filter: drop-shadow(0 1px 2px rgba(63, 63, 68, 0.3));
            position: relative;

            &:before, &:after {
              content: '';
              position: absolute;
              top: 29%;
              left: -12px;
              width: 0;
              height: 0;
              border-top: 12px solid transparent;
              border-right: 12px solid #fff;
              border-bottom: 12px solid transparent;
            }

            &:after {
              top: 27%;
              left: -14px;
              border-top: 13px solid transparent;
              border-right: 13px solid transparent;
              border-bottom: 13px solid transparent;
              z-index: -1;
            }

            p {
              margin-bottom: 0;
              color: #353f53;
              line-height: 1.2;
              font-size: 14px;

              span {
                display: block;
                font-weight: 700;
              }
            }
          }
        }

        &.timeline-head {
          .timeline-dot {
            &:before {
              content: '';
              border: none;
            }

            .timeline-starter {
              border: 3px solid #448aff;
              width: 42px;
              height: 42px;
              border-radius: 50%;

              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
              }
            }
          }

          .timeline-content {
            .timeline-title {
              font-size: 18px;
              color: #353F53;
              font-weight: 700;
              margin-bottom: 7px;
            }

            .tagline {
              color: #9da2ac;
              font-size: 14px;
              margin-bottom: 0;
            }
          }
        }

        &.completed {
          .timeline-dot {
            i {
              color: #448aff;
            }

            &:before {
              border: 2px solid #448aff;
            }
          }

          .timeline-content {
            .timeline-content-card {
              p {
                color: #448aff;
                padding-left: 30px;
                position: relative;

                &:before {
                  content: '\f00c';
                  font-family: FontAwesome;
                  position: absolute;
                  left: 0px;

                  // top: 10px;
                  display: -webkit-flex;
                  display: -moz-flex;
                  display: -ms-flex;
                  display: -o-flex;
                  display: flex;
                  align-items: center;
                  height: 100%;
                  color: #448aff;
                }
              }
            }
          }
        }

        &.current {
          .timeline-dot {
            i {
              color: #353F54;
            }

            &:before {
              border: 2px solid #448aff;
            }
          }
        }

        &.dormant {
          .timeline-content {
            .timeline-content-card {
              p {
                color: #d7d9dc;
              }
            }
          }
        }
      }
    }
  }
}

/* Modal styles ends */
