@font-face {
    font-family: "Pe-icon-7-stroke";
    src: url("Pe-icon-7-stroke.eot"); /* IE9 */
    src: url("Pe-icon-7-stroke.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Pe-icon-7-stroke.woff") format("woff"), /* chrome, firefox */
    url("Pe-icon-7-stroke.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Pe-icon-7-stroke.svg#Pe-icon-7-stroke") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


