/* helper utility styles */
.helper-text {
    font-size: 12px;

    // text-transform: none !important;
    color: $helper;
    font-weight: 400;

    &.text-01 {
        font-size: 14px;
    }

    &.text-02 {
        font-size: 13px;
    }

    &.text-03 {
        font-size: 11px;
    }

    &.text-04 {
        font-size: 10px;
    }

    [class$='by'] {
        font-weight: 600;
    }
}

/* .remove, .delete {
  color: $delete;
} */

// Box modal styles

$dimensions: ("m": "margin", "p": "padding");
$directions: ("t": "top", "b": "bottom", "r": "right", "l": "left");
$responsive-breaks: "xs, sm, md, lg";

@each $dim in $dimensions {
    @for $i from 0 through 6 {
        $size: $i * 5;

        .#{nth($dim, 1)}-#{$size} {
            #{nth($dim, 2)}: #{$size}px !important;
        }
    }

    @each $dir in $directions {
        @for $i from 0 through 6 {
            $size: $i * 5;

            .#{nth($dim, 1)}#{nth($dir, 1)}-#{$size} {
                #{nth($dim, 2)}-#{nth($dir, 2)}: #{$size}px !important;
            }
        }
    }
}

// Heading styles

// @for $i from 1 through 6 {
//   h#{$i} {
//     color: $main;
//   }
// }

// button with 48% styles
.btn-yes {
    @include custom-btn($yes, $yes-hover);
}

.btn-no {
    @include custom-btn($no, $main);
}

.btn-disapprove {
    @include custom-btn($delete, $delete-hover);
}

.btn-confirm {
    @include custom-btn($main, $not-started);
}

.btn-download {
    @include custom-btn($default-bg, $default-bg-hover);
}

.btn-yes.btn-no-final {
    @include custom-btn-no-final($yes, $yes-hover);
}

.btn-no.btn-no-final {
    @include custom-btn-no-final($no, $main);
}

.btn-disapprove.btn-no-final {
    @include custom-btn-no-final($delete, $delete-hover);
}

.btn-confirm.btn-no-final {
    @include custom-btn-no-final($main, $not-started);
}

.btn-download.btn-no-final {
    @include custom-btn-no-final($default-bg, $default-bg-hover);
}

.btn-logout {
    @include custom-btn-nofill-hover(#fff, $default-bg-hover, $delete);
}

.btn {
    white-space: normal;
}

// button styles ends

.main-font {
    font-size: 14px;
    color: $main;
    font-weight: 600;
}

.ln100 {
    line-height: 100% !important;
}

.fw-normal {
    font-weight: normal !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.text-none {
    text-transform: none !important;
}

.primary-font {
    font-size: 14px;
    color: $sub-heading;
}

.sec-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $main;
}

/* Text color styles */
.error-text {
    color: $delete !important;
}

.warning-text {
    color: $validate !important;
}

/* .modal{
  .alert-success, .alert-info, .alert-warning, .alert-danger{
    color: #ffffff !important;
  }
} */

.df-ac {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
}

.df-ac-jc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

// full width
.full-width {
    width: 100% !important;
}

.auto-width {
    width: auto !important;
}

.auto-height {
    height: auto !important;
}

// background color classes
.bg-yes {
    background: $yes !important;
}

// background-highlight styles
.highlight-bg {
    padding: 15px;
    background: $highlight-01 !important;

    .d-block {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;

            // margin-top: 15px;

        }
    }
}

.chosen-container-single {
    .chosen-single {
        line-height: normal;
        display: flex;
        height: 38px;
        align-items: center;
        box-sizing: border-box;

        div {
            b {
                // background-position-y: 15px;

            }
        }
    }
}
